@import "_var.scss";
@import "_nav.scss";
@import "_joke.scss";
@import "_form.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: $with-container;
    margin: 20px auto;
}